<aside class="author-sidebar">
  <div class="author-avatar">
    <img src="/assets/images/profile.png" alt="Moran Xu">
  </div>

  <h1 class="author-name">Moran Xu</h1>
  <p class="author-title">Senior Algorithm Engineer @ ZEISS</p>
  <p class="author-location"><i class="fas fa-fw fa-envelope"></i>xumoran34@gmail.com</p>
  <p class="author-location"><i class="fas fa-fw fa-map-marker-alt"></i>Dublin, CA, United States</p>

  <hr class="author-divider">

  <ul class="section-nav">
    <li><a href="/#about">About Me</a></li>
    <li><a href="/#projects">Projects</a></li>
    <li><a href="/#publications">Publications</a></li>
    <li><a href="/#resume">Resume</a></li>
  </ul>

  <ul class="author-links">
    <li>
      <a href="mailto:xumoran34@gmail.com" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/moran-xu-166641224" target="_blank" rel="noopener" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://scholar.google.com/citations?user=Pz5A2ZkAAAAJ" target="_blank" rel="noopener" title="Google Scholar">
        <i class="fas fa-graduation-cap"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/beardear" target="_blank" rel="noopener" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</aside>
